version: "2"

issues:
  max-issues-per-linter: 0

run:
  issues-exit-code: 0

linters:
  settings:
    custom:
      gofsck:
        path: /root/github/tools/gofsck/gofsck.so

  default: none

  enable:
    - gofsck
